.quantity-input-wrapper {
  input {
    height: 34px;
    width: 45px;
    text-align: center;
    font-size: 26px;
    border: 1px solid $gray;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
  }
  button {
    width: 34px;
    height: 34px;
    background: $gray-lite;
    border-radius: 100px;
    border: 1px solid $gray;
  }
}
